{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for b in books %}
                <div class="book col-md-4">
                    <h2><a href="http://127.0.0.1:8000/books/{{ b.pub_date|date:"Y-m-d" }}">{{ b.name }}</a></h2>
                    <p>Автор: {{ b.author }}</p>
                    <p>Дата публикации: {{ b.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>
        <div>
            {% if previous_date %}
                <a href="{% url 'books_view_with_date' previous_date %}">{{ previous_date|date:"Y-m-d" }}</a>
            {% endif %}

            {% if next_date %}
                <a href="{% url 'books_view_with_date' next_date %}">{{ next_date|date:"Y-m-d" }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}