{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in students %}
    <li>
      <strong>{{ student.name }}</strong> (Класс: {{ student.group }})<br>
        <strong>Преподаватели:</strong>
        <ul>
          {% for teacher in student.teachers.all %}
            <li>{{ teacher.name }} — {{ teacher.subject }}</li>
          {% endfor %}
        </ul>
    </li>
  {% empty %}
    <p>Нет студентов.</p>
  {% endfor %}
  </ul>
</div>
{% endblock %}
